.cartInputForm {
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .label {
        color:brown;
        margin-right: 10px;

    }

    .span {
        margin: 10px;
    }
}